<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>You Screwed Up!!!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Add the thing to let my bokeh plots render as per slack advice --> 
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>


	</head>
	<body>
		<div>
  			<h1>That's probably not a valid ticker symbol!!</h1>
			<p> 
				If you need help, you can probably find a few valid ones 
				<a href='http://eoddata.com/symbols.aspx'>here</a>. 
				If you're sure that you're right, maybe something's wrong with Quandl.
			</p>

			<form id="input" method="post" action="index">
				<p> 
					Please enter a stock ticker symbol: 
					<input type="text" name="symbol" />
					<input type="submit" value="Go!" />
				</p>
			</form>
		</div>
	</body>
</html>
