<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Did An Go To The Gym Today</title>
		<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		-->
	</head>
	<body>
		<div>
			<h3>Did An Go To the Gym Today?</h3>
			<h2> {{tweet_text}}</h2>
			<br />
			{{tweet_time}}
		</div>
	</body>
</html>
